body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vh;
    border:1px solid rgb(255, 255, 255);
    align-items: center;
    padding-left: 25px;
    
}


.facebook {
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 400px;
    margin:0;
}

.title {
    display: inline-flex;
    position: absolute;
    color: #1877F2;
    font-size: 60px;
    margin: 0;
    
}

.parrafo {
    top:90px;
    position: absolute;
    display: flex;
    color: black;
    font-size: 25px;
    margin: 0;
}

@media (min-width: 768px) {
    .facebook {
      display: inline-block;
      position: absolute;
      height: 200px;
      width: 400px;
      margin:0;
    }
  }

  @media (max-width: 767px) {
    .facebook {
      display: none;
    }

    .login {
        width: 100%;
        max-width: 400px;
        height: auto;
        right: auto;
        justify-content: center;
        left:35px;
      }
    }

.login {
    position: absolute;
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-direction:column;
    right: 23px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.correo,
.password {
    display: flex;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 17px;
    text-indent: 20px;
    border: 0.5px solid grey
}

input::placeholder {
    text-indent: 20px;
}

.sesion {
    margin: 15px;
    width: 360px;
    height: 50px;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    background-color:#1877F2;;
    border:0;
}


.forgot {
    display: flex;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
    width: 360px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #1877F2;;
}

.forgot:hover {
    text-decoration: underline;
}

.create {
    margin:20px;
    border:0;
    width:190px;
    height: 55px;
    color: white;
    background-color: green;
    border-radius: 8px;
    font-size:20px;
}











