body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.search-bar {
    display: flex;
    position: relative;
    background-color: white;
    border: 1px solid grey;
    width: 90%;
    padding: 10px;
    padding-left: 10px;
    border-radius: 25px;
    align-items: center;
}

.search-input {
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 80%;
}



.boton button{
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 30px;
    right: 15px;
    margin-right: 25%;
}

 .boton {
    display: flex;
    position: absolute;
    top:0;
    right: 5%;
    align-items: center;
    height: 100%;
}


.search-bar button:hover {
    color: rgb(93, 93, 230);
}
