* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#watch {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border:2px solid cyan;
    font-family: monospace;
    font-size: 5rem;
    user-select: none;
}





