* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition:0.5s;
}

#toggle {
    position: relative;
    display: block;
    width: 320px;
    height: 160px;
    border-radius: 160px;
    background-color: #222;
    transition:0.5;
    box-shadow: 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0, 0 , 0 ,0.1)
    ,inset 0 -4px 4px rgba(0, 0 , 0 ,0.1);
}

.indicator {
    position: absolute;
    left:0;
    right: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #444, #222);
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5), 
    inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}