*
 {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif !important;
 }


 .img {
    width: 100vw;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
 }

 .img h1{
   position: absolute;
   color: white;
   font-size: 100px;
 }


 .container {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    
    border-right: 1px solid black;
 }

 .watch-container {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
 }

 .watch {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 370px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 25px;
    align-items: center;
}

.watch:hover {
   box-shadow: 0 0 10px black;
   width: 310px;
   height: 380px;
   margin-top: 15px;
}


.title {
    margin: 15px;
    font-size: 30px;
}

.watch img {
    height: 200px;
}


#header {
   display: flex;
   justify-content:center;
   align-items: center;
   background-color: black;
   color: white;
   width: 100%;
   height: 80px;
   font-size: 30px;
   border-radius: 8px 8px 0 0;
}

#buys {
display: flex;
flex-direction: column;
}

.shoppingCar {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   border-radius: 8px;
   width:0;
   height: fit-content;
   margin-right: 50px;
}

.compras {
   display: flex;
   position: relative;
   width: 398px;
   height: 120px;
   border: 1px solid black;
}

.productName {
   font-size: 15px;
   margin: 25px 10px 0 10px;
}

.delete {
   position: absolute;
   display: flex;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   color: black;
   font-size: 30px;
   justify-content: center;
   align-items: center;
   right: 5px;
   top:10px;
   background-image: url('https://cdn-icons-png.flaticon.com/128/2907/2907762.png');
   background-size: cover;
}

.moreLestButtons {
   width: 100px;
   position: absolute;
   display: flex;
   left:30%;
   padding: 10px;
   bottom: 30px;
   align-items: center;
   justify-content: space-between;
}

.moreLestButtons button {
   display: flex;
   width: 30px;
   height: 30px;
   font-size: 30px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;

}

.price{
   display: flex;
   align-items: center;
   margin-top: 10px;
   font-size: 20px;
}

.add {
   background-color: black;
   color: white;
   border-radius: 10px;
   padding: 15px;
   font-size: 15px;
}

.total {
   display: none ;
   height: 150px;
   border:1px solid black;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(240, 240, 240);
}

.total h1 {
   display: flex;
   width: 90%;
   margin-bottom: 15px;
   justify-content: space-between;
}

.total button {
   display: flex;
   background-color: black;
   color: white;
   border: none;
   border-radius: 5px;
   width: 90%;
   height: 60px;
   font-size: 25px;
   justify-content: flex-start;
   align-items: center;
   padding: 25px;
}

#payfor {
   cursor: pointer;
}












